<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<title>活动管家</title>
</head><body>
	<div class="container">
		<div class="header clearfix"><h3 class="text-muted"> 活动管家</h3></div>
		<section id="content">{% block content %}{% endblock %}</section>
		<footer class="footer"><p>&copy; 2017 活动管家</p></footer>
	</div>
	<nav>
		<ul class="nav nav-pills pull-right">
			{% if user.is_authenticated %}
				<li role="presentation">
					<a href="{% url 'logout' %}">登出(<b>{{user.username}}</b>)</a>
				</li>
			{% else %}
				<li role="presentation">
					<a href="{% url 'login' %}">登录</a>
				</li>
				<li role="presentation">
					<a href="{% url 'regist' %}">注册</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</body></html>