<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{% load static %}
	{% load p_m_extra_filter %}
	<title>List Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css'%}"/>
</head>
<body onload="custom_init_nav_side({{index}})">
{%include 'p_m_nav.html'%}
<div id = "content_main" style = "float: left;" class="container">
	<div>
		<section>
		{%for act in activity_list%}
			<h2><a href="{% url 'personal_management:detail' act.1.id%}" title="点击编辑">{{act.1.name}}</a></h2>
			<p style="font-size: 16px">时间：{{act.1.time_start}}至{{act.1.time_end}}</p>
			<p>地点：{{act.1.place}}</p>
		{%endfor%}
		</section>
	</div>
</div>
</body>
</html>