{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<div>
本网站用于模拟用户根据对应的地点进行活动安排，与其他用户竞争有限的课室资源的情景（类似选课）
<h3>用户可以做什么？</h3>
	<p>
		<h4>1、地点查询（无需登录）</h4>
		查询已经有的地点，根据这些创建好的地点进行活动的选择
		<p><font color="red">操作位置：首页-活动安排表，下方有按名字搜索地点的搜索栏</font></p>
	</p>
	<p>
		<h4>2、活动的创建、申请和导入</h4>
		用户可以选择手动创建自己的活动或者使用文件导入，之后可以进行申请。申请时不能和已经被安排的活动冲突，要在地点规定的时间范围和人数范围内，并且有一定数量的志愿
		<p><font color="red">操作位置：登录后自动跳转到用户界面，点击边栏即可进行切换</font></p>
	</p>
	<p>
		<h4>3、总体活动安排查询（无需登录）</h4>
		可以看到教室当前的活动安排情况和每个时段的申请人数
		<p><font color="red">操作位置：首页-活动安排表，先搜索对应的地点之后再根据需要的时间段进行搜索</font></p>
	</p>
<h3>管理员会做什么？</h3>
	<p>1、提前导入地点和地点对应的信息</p>
	<p>2、进行验证码的导入</p>
	<p>3、手动进行活动的安排</p>
</div>

	<div>
		<a href="{% url 'start' %}">
			<button class="btn btn-lg">
				返回主页
			</button>
		</a>
	</div>
{% endblock %}


